/* Super */
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(59, 154, 135);
}

/* General  */
.btn-sm {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-sm:focus {
  outline: none;
}
.disable-select {
  user-select: none;
}

/* Layout  */
.Header {
  text-align: center;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: flex-end;
}
.Content {
  flex-grow: 1;
}

.Footer {
  text-align: center;
  background-color: rgb(59, 154, 135);
}
